@media body {
  margin: 0;
  padding: 0;
  font-base: Inter, Helvetica Neue, Helvetica, Arial, sans-serif;
}

/*.container{*/
/*  display: flex;*/
/*  flex-direction: column ;*/
/*  !*align-items: stretch;*!*/
/*  !*box-shadow: 0 0 10px rgba(0.1, 0, 0, 0.1);*!*/
/*}*/
/*.header,.content,.footer{*/
/*  margin:10px;*/
/*}*/
/*h1{*/
/*  !*font-family: Bahnschrift;*!*/
/*}*/
/*h2{*/
/*  !*font-family: Bahnschrift, "Segoe Print";*!*/
/*}*/
li {
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 210mm;
  height: 297mm;
  margin: auto; /* для центровки страницы */

  /*page-break-after: always;*/
  /*width: 80%;*/
  /*margin: 20px 0;*/
  /*background-color: #f3d0ef;*/
  /*padding: 20px;*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /*font-family: "JetBrains Mono Light";*/
  /*font-family: Open Sans, Helvetica, Arial, sans-serif;;*/
  font-size: 18px;
  line-height: 20px;
}

/*.header {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  !*background-color: #e0f7fa;*!*/
/*  font-family: Roboto, Arial, sans-serif;*/
/*  font-size: 20px;*/
/*  background-color: #2AA5A0;*/
/*  background-image: linear-gradient(90deg, #E3535D, #2AA5A0);*/
/*  -webkit-background-clip: text;*/
/*  -webkit-text-fill-color: transparent;*/
/*  padding: 20px;*/
/*  border-radius: 2%;*/
/*  box-shadow: 0 0 10px rgba(0.1, 0, 0, 0.1);*/
/*}*/
img {
  /*border-radius: 5%;*/
  width: 98%;
  height: 300px;
  padding-top: 15px;
  /*margin-right: 120px;*/
  /*margin-left: 40px;*/
  box-shadow: 0 0 12px #f3d0ef;
}


.content {
  display: flex;
  gap: 1%;
  /*margin-top: 20px;*/
}

.column1 {
  width: 40%;
  background-image: radial-gradient(circle, #bbc4f3, #e8f5e7, #f3cdf0);
  /*border-radius: 5%;;*/
}

.column2 {
  width: 59%;
  /*background: #e8f5e7;*/
  /*border-radius: 5%;*/
}
.section {
  /*background-color: #bed93d;*/
  padding-left: 15px;
  padding-right: 10px;
  /*border-radius: 5px;*/
  /*border-bottom: 2px solid #555555;*/
}
h1{
  color: darkslateblue;
}
 h2 {
  border-bottom: 2px solid #483D8BFF;
   color: darkslateblue;
  padding-bottom: 10px;
  /*margin-bottom: 10px;*/
  font-size: 1.5em;
}
h3{
  color: darkslateblue;
  padding: 0;
  margin: 0;
}
.section ul {
  list-style: none;
  padding: 0;
}

.section ul li {
  margin: 10px 0;
  line-height: 20px;
}

/*.footer {*/
/*  !*margin: 20px 0;*!*/
/*  display: flex;*/
/*  flex-direction: row ;*/
/*  justify-content: space-around;*/
/*  background-color: #e0f7fa;*/
/*  padding: 10px;*/
/*  border-radius: 2%;*/
/*  box-shadow: 0 0 10px rgba(0.1, 0, 0, 0.1);*/
/*}*/
.icon-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.icon-section img {
  width: 24px;
  height: 24px;
}
